/* li {
  list-style-type: none;
  max-width: 20%;
  padding: 2%;
  margin: 4% auto;
  background: #eee;
  border: dotted #ddd;
  text-align: center;
}

.strikeThrough {
  list-style-type: none;
  max-width: 20%;
  padding: 2%;
  margin: 4% auto;
  background: #eee;
  border: dotted #ddd;
  text-align: center;text-decoration: line-through;

} */

.box {
  width: 20%;
  height: 20%;
  margin: 1% 0;
  background: #eee;
  text-align: center;
  padding: 2%;
}